<div>
  <div>
    <!--banner-->
    <app-navbar></app-navbar>
  </div>

  <!--sort-by buttons-->
  <div class="row button-group pl-3 mt-4 mx-3">

    <div class="mr-auto pt-3">You currently have {{events.length}} tasks</div>
    <div class="ml-auto">
      <span>
        <strong>Sort By:</strong>
      </span>
      <button size="sm" color="primary" class="text-white" mdbBtn (click)="sortByName()">name</button>
      <button size="sm" color="primary" class="text-white" mdbBtn (click)="sortByCompletionDate()">completion
        date</button>
      <button size="sm" color="primary" class="text-white" mdbBtn (click)="sortByDateCreated()">date created</button>
    </div>
  </div>


  <div class="container text-center my-5" *ngIf="isEmpty()">
    <h1>
      <strong>ADD AN EVENT</strong>
    </h1>
  </div>
  <!--task card-->
  <app-card [events]="events"></app-card>

  <!--floating action button-->
  <button type="button" mdbBtn size="sm" class="btn-fixed indigo darken-4" data-toggle="modal"
    data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
    <span>
      <mdb-icon fas icon="tasks" size="2x"></mdb-icon>
    </span>
  </button>

  <!--todo item modal form-->

  <form [formGroup]="eventForm" (ngSubmit)="addTodoItem()">
    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add todo item</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <!--event name-->
            <div class="md-form mb-5">
              <mdb-icon fas icon="tasks" class="prefix grey-text"></mdb-icon>
              <input type="text" id="form3" class="form-control" name="eventName" (ngModel)="eventName"
                [formControl]="eventName" mdbInput mdbValidate />
              <label for="form3">Event Name</label>
              <mdb-error *ngIf="
                  eventName.invalid && (eventName.dirty || eventName.touched)
                ">
                Input invalid
              </mdb-error>
              <mdb-success *ngIf="
                  eventName.valid && (eventName.dirty || eventName.touched)
                ">
                Input valid
              </mdb-success>
            </div>

            <!--Date time picker-->
            <div class="md-form mb-5">
              <mdb-icon fas icon="calendar" class="prefix grey-text"></mdb-icon>
              <input type="date" class="mt-2" id="eventDate" name="eventDate" (ngModel)="eventDate" min="2020-05-01"
                [formControl]="eventDate" />
            </div>

            <!--event description-->
            <div class="md-form mb-4">
              <mdb-icon fas icon="pen" class="prefix grey-text"> </mdb-icon>
              <textarea id="desc" type="text" class="md-textarea form-control" rows="2" name="eventDescription"
                (ngModel)="eventDescription" [formControl]="eventDescription" mdbInput mdbValidate></textarea>
              <label for="desc">Event Description</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn type="submit" (click)="frame.hide()" color="indigo" class="waves-light rounded"
              mdbWavesEffect>
              Add item
              <mdb-icon fas icon="plus" class="white-text ml-1"></mdb-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
